{% extends 'base.html' %}

{% block content %}

<article>
    <a href="{{ object.url }}" class="title">{{ object.title }}</a>
    <p class="subscript">{{ object.votes }} points by {{ object.author }} | {{ object.time|timesince }} ago | 59 comments</p>
</article>

{% for each in comment %}

<article>
    <p class="comments"><a href={{"articles/article-1.html"}} class="comments-upvote">^ </a> {{ each.author }} {{ each.time|timesince }} ago <a href={{"articles/article-1.html"}} class="upvote">[-]</a></p>
    <p class="comments">{{ each.text }}</p>
</article>

{% endfor %}

{% endblock %}