{% extends 'base.html' %}

{% block content %}

<article>
    <a href="{{ object.url }}" class="title">{{ object.title }}</a>
    <p class="subscript">{{ object.votes }} points by {{ object.author }} | {{ object.time|timesince }} ago | 59 comments</p>
</article>

{% for each in comment %}

<article class="comment-block">
    <p class="comments-title"><a href={{"articles/article-1.html"}} class="comments-upvote">^ </a> {{ each.votes }} | {{ each.author }} | {{ each.time|timesince }} ago <a onclick="myFunction({{ each.id }})" class="comments-upvote">[-]</a></p>
    <pre class="comments" id="{{ each.id }}">{{ each.text }}</pre>
</article>

{% endfor %}

<article>
    <a class="title" href="{% url 'commentcreate' object.id %}" style="text-decoration: underline"> reply </a>
</article>

{% endblock %}