<!DOCTYPE html>
<html>
    <head>
        <title>
            hackernews.ee
        </title>
        {% load static %}
        <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        {% load static %}
        <img src="{% static 'assets/header-image.png' %}" alt="header image">

        {% include 'navbar.html' %}
        {% block content %}
        replace me
        {% endblock %}
    </body>

</html>